#container-fluid-1, #container-fluid-2{
  background-image: url('./gray_back.svg');

}
#bulb{
  margin-left:64px;

}
#rect1,#rect2,#rect3,#rect4{
margin-bottom: -20px;}
#rectangle_container, #big_text_container{
  position: absolute;
}
#big_text_container{
  z-index: 5;
  padding-top:40px;
}
#big_div{
  margin-left:64px;

}