@font-face {
    font-family: KareliaTrial;
    src: url("fonts/KareliaTrial-Medium.otf") format("opentype");
}

@font-face {
    font-family: MabryPro;
    src: url("fonts/Mabry Pro Black.ttf")
}

body {
    background-color: #212121;
}

/*==========================*/
/* NAVBAR */
/*==========================*/
.navbar.fixed-top.scrolled {
    background-color: #212121;
}

.nav-link.navigation {
    font-family: MabryPro;
    color: white;
}

/*==========================*/
/* HEADER */
/*==========================*/
.header {
    position: relative;
    width: 150vw;
    background-repeat: no-repeat;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 10%;
}

.main-header-text {}

.header-heading {
    font-family: MabryPro;
    font-style: normal;
    font-weight: 600;
    font-size: 4.1vw;
    line-height: 107%;
    color: #4AE675;
}

#header-heading-highlight {
    background: #212121;
}

.header-subscript {
    font-family: KareliaTrial;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-btn {
    color: #121212;
    background: #4AE675;
    margin: 2rem;
    width: 17vw;
    font-size: 1.4vw;
    text-align: center;
    border-radius: 13.8vw;
    font-family: KareliaTrial;
}

.register-button.btn {
    display: block;
    width: 100%;
    background-color: #45D56C;
    font-family: KareliaTrial;
    font-size: 1.5rem;
}

.date-header {
    font-family: KareliaTrial;
    font-size: 2.8vw;
    color: #212121;
}

.dates {
    transform: rotate(-7.93deg);
    font-size: 2.8vw;
    top: 15vw;
}

.dates-highlight {
    background: #4AE675;
    font-size: 2.8vw;
}

.month {
    transform: rotate(3.81deg);
    top: 17vw;
    font-size: 2.8vw;
    margin-top: 1.5vw;
}

.month-highlight {
    background: #4AE675;
    font-size: 2.8vw;
}

/*==========================*/
/* INTRO */
/*==========================*/
.udgam-intro-content {
    margin-top: 10vw
}

.macbook {
    margin-top: 10vw
}

.first-thing {
    font-family: KareliaTrial;
    color: #4AE675;
    font-size: 1rem;
    line-height: 100%;
    font-weight: lighter;
}

.udgam-heading {
    font-family: MabryPro;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 100%;
    color: white;
}

.udgam-intro {
    font-family: KareliaTrial;
    font-size: 1.5rem;
    color: white;
    line-height: 138%;
}

/*==========================*/
/* LISTS OF EVENTS */
/*==========================*/
.row {
    padding: 5%;
}

#post {
    font-family: Ramona;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 120%;
    letter-spacing: 0.04em;
    color: #2DF771;
}

#name {
    font-family: KareliaTrial;
    font-style: normal;
    font-weight: bold;
    font-size: 180%;
    line-height: 42px;
    color: #FFFFFF;
}

#line {
    color: #FFFFFF;
}

.top {
    padding-left: 3%;
}

/*==========================*/
/* VIRTUAL UDGAM */
/*==========================*/
#box {
    width: 120%;
    height: 120%;
    background: #212121;
}

#text {
    padding-left: 1.5%;
    padding-right: 10%;
}

#head {
    font-family: Mabry Pro;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
}

#heading1 {
    font-family: KareliaTrial;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    color: #FFFFFF;
}

#past-speaker-text{
    font-family: KareliaTrial;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    color: white;
}

#content {
    font-family: KareliaTrial;
    font-style: normal;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    line-height: 28px;
}

#underlined-content-virtual-udgam{
    font-family: KareliaTrial;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.87);
}

/*==========================*/
/* LISTS OF EVENTS */
/*==========================*/
.container-md.events-container {
    /* background-color: #171E19; */
}

.card {
    background-color: #212121;
    border-radius: 0;
    border: 1px solid #212121;
}

.card {
    color: white;
    font-family: KareliaTrial;
    font-size: 1.5rem;
}

.card-title {
    font-family: MabryPro;
    font-size: 2rem;
}
